.image {
    background-image: url("../../../assets/busbackground.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
 
    // color: aqua;
    // background-color: #cccccc;
   } 